<a href="https://colab.research.google.com/github/trusso5/ds1002-stx3xt/blob/main/Copy_of_week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [11]:
# code here

var = 0

while var <= 20:

  if var % 2 = 0:
    print(var)

SyntaxError: ignored

## For-Loops with Lists

In [ ]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [14]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]
for positive in mylist:
    if positive >= 0:
      print(positive)

9
15
23
4
92
47
33
17
18
38

In [17]:
from re import I
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

for negative in mylist:
    if negative <= 0:
      negative = negative *-1
      print(negative)

4
242

In [19]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for middle in mylist:
  if middle >= 20: <=40
  print(middle)

SyntaxError: ignored

## For-Loops with Dictionaries

In [21]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [23]:
# Write a command to print out all the keys of this dict

for keys in capitals.keys():
    print(keys)

United States
Italy
England
Thailand
Brazil

In [27]:
# Write a command to print out all the values of this dict
for values in capitals.values():
  print(values)

Washington DC
Rome
London
Bangkok
Brasilia

In [28]:
# Write a command to print all the keys and values for this dict

print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [ ]:
# Write a command to print only the first three values and NOTHING more.